.recipe-card {
  display: grid;
  grid-template-columns: 250px 1fr; 
  gap: 20px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  background-color: #ffffff;
  max-width: 800px;
  margin: 20px auto;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.recipe-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-info h3 {
  margin: 0 0 8px 0;
  font-size: 20px;
  color: #333;
}

.recipe-info p {
  margin: 2px 0;
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}

.not-found {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  color: #d80606;

}


@media (max-width: 600px) {
  .recipe-card {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .recipe-image {
    width: 100%;
    height: auto;
  }
}
