<div class="dashboard-card warning">
  <h4>⏳ Overdue Tasks</h4>

  <ul *ngIf="!loading && paginatedTasks.length > 0">
    <li *ngFor="let task of paginatedTasks">
      <strong>{{ task.title }}</strong>
      <span class="assigned-name">{{ task.assignedToName }}</span>
      <span class="due-date">Was due on: {{ task.dueDate | date:'shortDate' }}</span>
    </li>
  </ul>

  <p class = "msg"*ngIf="!loading && paginatedTasks.length === 0">No overdue tasks.</p>
  <p *ngIf="loading">Loading...</p>

  <div class="pagination-controls" *ngIf="totalPages > 1">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
